html {
    background-color: #260875;
    height: 100%;
    color: white;
}

.disc {
    color: crimson;
}

h1 {
    font-family: "Brush Script MT", "Courier New", sans-serif;
    font-size: 48px;
}

h3 {
    color: #ffdc48
}

.recipe {
    text-align: center;
}

.recipe .long {
    text-align: left;
}

.return {
    font-weight: 100;
    color: #00ff00;
    font-size: 12px;
}

a:visited {
    color: #e000e0;
}

