html {
    background-color: #00c3fc;
    height: 100%;
    color: white;
}

.main {
    text-align: center;
}

.disc {
    color: crimson;
}

h1 {
    font-family: "Brush Script MT", "Courier New", sans-serif;
    font-size: 48px;
}

h3 {
    color: #ffdc48
}

.recipe {
    text-align: center;
}

.return {
    font-weight: 100;
    color: #00ff00;
    font-size: 12px;
}

a:visited {
    color: #e000e0;
}

.long {
    text-align: center;
}

.long > ul {
    display: inline-block;
}

.long > ol {
    display: inline-block;
}

.lidex {
    list-style-position: inside;
    margin-right: 60px;
}

.long li {
    text-align: left;
}