* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background-color: #ff7a2d;
    color: white;
    height: 100%;
    width: 100%;
}

.defbox {
    background-color: #323d3f;
    margin: auto;
    width: 70%;
    padding-bottom: 100%;
}

.main {
    text-align: center;
}

.disc {
    color: crimson;
}

h1 {
    font-family: 'Luminari', "Courier New", sans-serif;
    font-size: 48px;
    color:  #ffec00;
}

h3 {
    color: #0be8c7
}

.recipe {
    text-align: center;
}

.return {
    font-weight: 100;
    color: #00ff00;
    font-size: 12px;
}

a:visited {
    color: #e000e0;
}

.long {
    text-align: center;
}

.long > ul {
    display: inline-block;
}

.long > ol {
    display: inline-block;
    margin-left: 50px;
}

.lidex {
    list-style-position: inside;
    margin-right: 0px;
    list-style-type: none;
}

.long li {
    text-align: left;
}

li::marker {
    color: #0be8c7;
}

.allergen {
    height: auto;
    width: 24px;
    display: inline;
    vertical-align: middle;
}

.allergendisc {
    opacity: 0;
    color: #ff8f00;
}

.long:hover .allergendisc{
    opacity: 1;
}

.headerbox {
    display: flex;
    justify-content: center;
}

.inlineimg {
    height: auto;
    width: 28px;
    margin-left: 18px;
    transform: rotate(45deg);
    padding-left: 4px;
    display: inline-block;
    vertical-align: middle;
}

.inlineimg#left {
    margin-right: 22px;
}